{name, "trie"}.
{authors, ["Michael Truog (mjtruog [at] gmail (dot) com)"]}.
{description, "Erlang Trie Implementation"}.
{homepage, "https://github.com/okeuday/trie"}.
{rebar_compatible, true}.
{license, "BSD"}.
{url, {git, "https://github.com/okeuday/trie.git", {branch, "master"}}}.
{applications, [trie]}.
